---
layout: default
title: Publication Details
---

<html>
 
<style>
div.pdfimg{
float: right;
border: 1px solid #BFBFBF;
box-shadow: 2px 2px 3px #aaaaaa;
margin: 10px;
}
</style>


<h3><center>{{ page.entry.title }}</center></h3>
<h4><center>{{ page.entry.author }}</center></h4>
<hr>

{% if page.entry.key %}
<object data="https://zenodo.org/record/2538016/files/hinz_from_hunting_2018.pdf?download=1" width="1000" height="1000" type='application/pdf'/>

{% endif %}

{% if page.entry.abstract %}
  {{ page.entry.abstract }}
{% endif %}

<div style="clear:both"></div>

<hr>

{% raw %}
{% highlight tex %}
{{ page.entry.bibtex }}
{% endhighlight %}
{% endraw %}


