---
layout: default
title: Publication Details
---

<html>
 
<style>
div.pdfimg{
float: right;
border: 1px solid #BFBFBF;
box-shadow: 2px 2px 3px #aaaaaa;
margin: 10px;
}
</style>


<h3><center>{{ page.entry.title }}</center></h3>
<h4><center>{{ page.entry.author }}</center></h4>
<hr>

{% if page.entry.preview %}
  <iframe src="{{ page.entry.preview }}"></iframe>
{% endif %}
 
{% if page.entry.abstract %}
  {{ page.entry.abstract }}
{% endif %}

<div style="clear:both"></div>

<hr>

{% raw %}
{% highlight tex %}
{{ page.entry.bibtex }}
{% endhighlight %}
{% endraw %}


